@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	z-index: 1;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

button{
	border-radius: 20px;
	z-index: 0;
	background-color: rgb(126, 94, 62);
	transition: filter 0.5s ease-in-out;
	border: none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
	user-select: none;
	height: 40px;
}

button:hover{
filter: brightness(120%);
transition: filter 0.5s ease-in-out;
}


.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 30px;
	transition: opacity 0.3s ease-in;
}
.nav__item:hover {
	opacity: 80%;
}

.link-active{
	position: relative;
	text-shadow: rgb(255, 253, 253) 7px 7px 10px;
}

.header {
	padding: 20px 0;
	background-color: #131313;
	color: rgb(248, 243, 243);
	z-index: 10;
}

.hero {
	height: 800px;
	background-image: url("bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.hero-text{
	text-shadow: rgb(42, 42, 42) 7px 7px 10px;
	position: absolute;
	z-index: 1;
}
.hero-descr{
	background-color: #131313;
}

.footer {
	background-color: #131313;
	padding: 50px 0;
	color: #fff;
	text-align: center;
}

.hero-title {
	margin: 0;
	font-size: 50px;
	color: #fff;
	margin-bottom: 30px;
}

.hero-container {
	height: 100%;
	display: flex;
	align-items: center;
}

.hero-text {
	font-size: 20px;
	color: #fff;
	margin: 0;
}

.services {
	padding: 100px 0;
}

.services__list {
	width: 100%;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

.services__item {
	min-height: 300px;
	border-radius: 10px;
	z-index: 1;
	box-shadow: 0px 5px 15px rgba(42, 42, 42);
	padding: 50px 10px;
	font-size: 18px;
	display: flex;
	justify-items: center;
	justify-content: center;
	text-align: justify;
	transition: 500ms;
	cursor: pointer;
}
.services__item:hover{
	box-shadow: 0px 5px 35px rgba(42, 42, 42);
	transition: 500ms;
}

.services__item button{
	position: absolute;
	bottom: 10px;
}
.services__item button:active{
	bottom: 9px;
}

.title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
}

.text {
	padding: 100px 0;
	background-color: #f5f5f5;
}

.contacts {
	padding: 100px 0;
	background-color: #fff;
}

.contacts__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.contacts__item button{
	position: relative;
	width: 300px;
	padding: 0;
}

.contacts__item button:active{
	top: 1px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form input {
	width: 300px;
	height: 40px;
	margin-bottom: 10px;
}


.form button {
	height: 40px;
	width: 300px;
}

.fixed {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
}
/*
[data-aos="custom"] {
	transform: translateY(100px);
	transition-property: transform;
}

[data-aos="custom"].aos-animate {
	transform: translateY(0);
	transform: translateX(0px);
	transition: transform 0.3s ease-in-out;
}*/

.text-item{
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text-item.animation-class{
	opacity: 1;
	transform: translateY(0px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__item{
	opacity: 0;
	transform: translateX(-30px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__item:nth-child(3){
	transform: translateX(30px);
}
.services__item:nth-child(4){
	transform: translateX(30px);
}

.services__item.animation-class{
	opacity: 1;
	transform: translateX(0px);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.services__item.animation-class:nth-child(2){
	transition-delay: 0.3s;
};
.services__item.animation-class:nth-child(3){
	transition-delay: 0.6s;
};
.services__item.animation-class:nth-child(4){
	transition-delay: 0.9s;
};

